.input-wrapper{
    margin: 10px;
}

.input-field{
    width: 200px;
    height: 30px;
}

.button{
    width: 200px;
    height: 30px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-link{
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: rgb(31, 153, 202);
    padding: 0.5rem;
    border-radius: 10px;
}