body{
    background-color: rgb(100, 84, 84);
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    width: 100%;
}

.logo-img{
    width: 5.5rem;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
    padding: 0.1rem;
    border-radius: 10px;
}

.header-wrapper ul{
    display: flex;
}

.header-wrapper ul li{
    list-style-type: none;;
    padding: 1rem;
}
.header-wrapper ul li a{
    text-decoration: none; 
    font-size: 1.2rem;
}
.header-wrapper ul li button{
    background-color: transparent;
    border: none;
    color: #3391ff;
    font-size: 1.2rem;
    cursor: pointer;
}

.footer-wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: gray;
    color: white;
}

.input-error{
    position: absolute;
    padding: 8px;
    color: red;
    font-size: 13px;
}